video {

  object-fit: cover;

  width: 100vw;

  height: 100vh;

  position: fixed;

  top: 0;

  left: 0;

  z-index: -1;

}

.App {

    background-color: rgba(255, 255, 255, 0.5);;

}
.container {
  display: flex;
  justify-content: center;
}
.search {
width: 100%;
padding: 12px 24px;
background-color: transparent;
color: #575756;
box-shadow: inset 0px 0px 0px 5px #bcf8a1;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style:none;
}
li {
  background-color: #bcf8a1;
  padding: 10px;
  margin: 10px;
}
.icon {
width: 20px;
margin-right: 8px;
}
.ingredients {
  display: flex;
  align-items: center;
}
button {
margin-top: 10px;
margin-bottom: 10px;
border-radius: 12px;
border: none;
background-color: #dbecc4;
}
button:hover {
  background-color:#9fc583;
  border: 2px solid #027402;
}

.pan {
 margin-top: 7px;
 margin-right: 2px;
}
h1 {
  margin-top: 28px;
  font-size: 34px;
  color: #e83200;
}
b {
  font-size: 21px;
  color: red;
  margin-bottom: 20px;
}
h2 {
  color:rgb(0, 58, 1);
  margin-bottom: -5px;
}
h1, h2, b {
  font-family: "Montserrat", sans-serif;
}
.type {
  font-size: 21px;
  color:#027402;
  text-transform: capitalize;
}